<ul class="post-list">
  {{log posts}}
  {{ log username}}
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
        {{desplayEdit username post.user.username }}
    </li>
    {{/each}}
</ul>